<%= provide(:title, "Sign Up") %>
<div class="container">
  <div class="card mx-auto m-4" style="width: 35%;">
    <div class="card-body text-center">
     <h1>Sign up</h1>

     <div class="form-group">
      <%= form_for(@user, url: {action: "_addUser"}, method: "post") do |f| %>
         <%= f.text_field :first_name, :placeholder => "First name", class: 'form-control', required: true %><br>
         <%= f.text_field :last_name, :placeholder => "Last name", class: 'form-control', required: true %><br>
         <%= f.text_field :nick_name, :placeholder => "Nick name", class: 'form-control', required: true %><br>
         <%= f.text_area :address, :placeholder => "Address", class: 'form-control', required: true %><br>
         <%= f.number_field :phone, :placeholder => "Phone number", class: 'form-control', required: true %><br>
         <%= f.email_field :email, :placeholder => "Email", class: 'form-control', required: true %><br>
         <%= f.password_field :password, :placeholder => "Password", class: 'form-control', required: true %><br>
       <div>
        <%= f.submit "Create an account", class: "btn btn-primary" %>
       </div>
      <% end %>
     </div>
    </div>
  </div>
</div>
<br>